<h2> It is empty yet >_< </h2>

<a href="/pushup">PushUp</a>

<div>{{user.displayName}}</div>

<div>
    <img src="{{user.photo}}"/>
</div>

{{#if user}}
    <div class="user-card">
        User
    </div>
{{else}}
    <div>
        Not User
    </div>
{{/if}}

<div>
    <a href="/auth/logout">Logout</a>
</div>

<button>asdf</button>