<h1>PushUp</h1>

<div>
    <canvas id="chart" width="600px" height="400px"></canvas>
</div>

<table>
    <tr>
        <th>Date</th>
        <th>Level</th>
        <th>Sum</th>
    </tr>
    {{#each pushups}}
        <tr>
            <th>{{date}}</th>
            <th>{{level}}</th>
            <th>{{sum}}</th>
        </tr>
    {{/each}}
</table>

<form action="/pushup" method="post">
    <input type="hidden" name="hush" val="Скрытое, но не секретное!">
    <div>
        <h3>Date</h3>
        <input type="date" data-date-inline-picker="true" id="fieldDate" name="date"/>
    </div>
    <div>
        <h3>Level</h3>
        <select name="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div>
        <h3>Reps</h3>
        <input type="number" name="rep1"/>
        <input type="number" name="rep2"/>
        <input type="number" name="rep3"/>
    </div>
    <div>
        <button type="submit">Отправить</button>
    </div>
</form>

<script>
    var graph = {{{json graph}}}
</script>
<script src="/javascripts/pushup.js"></script>
